In [1]:
import pandas as pd
import numpy as np

In [2]:
lst = [['John',.3,.3,'1/31/20'],['Mike',.2,.2,'1/30/20'],['Bill',.5,.5,'1/29/20'],['John',.1,.1,'1/30/20'],
       ['John',.6,.6,'1/25/20'],['Bill',.6,.6,'1/28/20'],['John',.3,.3,'1/20/20'],['Mike',.5,.5,'1/20/20'],
      ['Mike',.4,.4,'1/13/20'],['Bill',.7,.1,'1/15/20']]

In [3]:
df = pd.DataFrame(lst, columns = ['Name','Sig_Strike_Pct','Other_Metric','Date'], dtype=float)

In [4]:
df['Date'] = pd.to_datetime(df['Date'])

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 4 columns):
Name              10 non-null object
Sig_Strike_Pct    10 non-null float64
Other_Metric      10 non-null float64
Date              10 non-null datetime64[ns]
dtypes: datetime64[ns](1), float64(2), object(1)
memory usage: 400.0+ bytes

In [6]:
df

   Name  Sig_Strike_Pct  Other_Metric       Date
0  John             0.3           0.3 2020-01-31
1  Mike             0.2           0.2 2020-01-30
2  Bill             0.5           0.5 2020-01-29
3  John             0.1           0.1 2020-01-30
4  John             0.6           0.6 2020-01-25
5  Bill             0.6           0.6 2020-01-28
6  John             0.3           0.3 2020-01-20
7  Mike             0.5           0.5 2020-01-20
8  Mike             0.4           0.4 2020-01-13
9  Bill             0.7           0.1 2020-01-15

In [7]:
df = df.sort_values(['Name', 'Date'])

In [8]:
df

   Name  Sig_Strike_Pct  Other_Metric       Date
9  Bill             0.7           0.1 2020-01-15
5  Bill             0.6           0.6 2020-01-28
2  Bill             0.5           0.5 2020-01-29
6  John             0.3           0.3 2020-01-20
4  John             0.6           0.6 2020-01-25
3  John             0.1           0.1 2020-01-30
0  John             0.3           0.3 2020-01-31
8  Mike             0.4           0.4 2020-01-13
7  Mike             0.5           0.5 2020-01-20
1  Mike             0.2           0.2 2020-01-30

In [9]:
#df2 = df.groupby(['Name']).apply(lambda x: x['Sig_Strike_Pct'].rolling(window=3, center=False).mean())
df2 = df\
    .groupby(['Name'])\
    .apply(lambda x: x.rolling(window=2, center=False, on='Date', closed='right')[['Sig_Strike_Pct','Other_Metric']]\
    .mean())

In [10]:
df2

   Sig_Strike_Pct  Other_Metric       Date
9             NaN           NaN 2020-01-15
5            0.65          0.35 2020-01-28
2            0.55          0.55 2020-01-29
6             NaN           NaN 2020-01-20
4            0.45          0.45 2020-01-25
3            0.35          0.35 2020-01-30
0            0.20          0.20 2020-01-31
8             NaN           NaN 2020-01-13
7            0.45          0.45 2020-01-20
1            0.35          0.35 2020-01-30

In [26]:
df3 = df[['Sig_Strike_Pct','Other_Metric', 'Name']]\
    .groupby(['Name'])\
    .shift(periods = 1, axis = 0)

In [27]:
df3

   Sig_Strike_Pct  Other_Metric
9             NaN           NaN
5             0.7           0.1
2             0.6           0.6
6             NaN           NaN
4             0.3           0.3
3             0.6           0.6
0             0.1           0.1
8             NaN           NaN
7             0.4           0.4
1             0.5           0.5

In [12]:
df4= pd.concat([df,df3], axis = 1)

In [13]:
list(df4.columns)

['Name',
 'Sig_Strike_Pct',
 'Other_Metric',
 'Date',
 'Sig_Strike_Pct',
 'Other_Metric']

In [14]:
df4.columns = ['Name', 'X_1','X_2','Date','Sig_Strike_Pct', 'Other_Metric']
df4

   Name  X_1  X_2       Date  Sig_Strike_Pct  Other_Metric
9  Bill  0.7  0.1 2020-01-15             NaN           NaN
5  Bill  0.6  0.6 2020-01-28             0.7           0.1
2  Bill  0.5  0.5 2020-01-29             0.6           0.6
6  John  0.3  0.3 2020-01-20             NaN           NaN
4  John  0.6  0.6 2020-01-25             0.3           0.3
3  John  0.1  0.1 2020-01-30             0.6           0.6
0  John  0.3  0.3 2020-01-31             0.1           0.1
8  Mike  0.4  0.4 2020-01-13             NaN           NaN
7  Mike  0.5  0.5 2020-01-20             0.4           0.4
1  Mike  0.2  0.2 2020-01-30             0.5           0.5

In [15]:
cols = [1,2]
df4.drop(df4.columns[cols], axis = 1, inplace = True)

In [16]:
df4

   Name       Date  Sig_Strike_Pct  Other_Metric
9  Bill 2020-01-15             NaN           NaN
5  Bill 2020-01-28             0.7           0.1
2  Bill 2020-01-29             0.6           0.6
6  John 2020-01-20             NaN           NaN
4  John 2020-01-25             0.3           0.3
3  John 2020-01-30             0.6           0.6
0  John 2020-01-31             0.1           0.1
8  Mike 2020-01-13             NaN           NaN
7  Mike 2020-01-20             0.4           0.4
1  Mike 2020-01-30             0.5           0.5

In [21]:
df5 = df4\
    .groupby(['Name'])\
    .apply(lambda x: x.rolling(window=2, center=False, on='Date', closed='right')[['Sig_Strike_Pct','Other_Metric']]\
    .mean())

In [22]:
df5

        Date  Sig_Strike_Pct  Other_Metric
9 2020-01-15             NaN           NaN
5 2020-01-28             NaN           NaN
2 2020-01-29            0.65          0.35
6 2020-01-20             NaN           NaN
4 2020-01-25             NaN           NaN
3 2020-01-30            0.45          0.45
0 2020-01-31            0.35          0.35
8 2020-01-13             NaN           NaN
7 2020-01-20             NaN           NaN
1 2020-01-30            0.45          0.45

In [28]:
list(df5.columns)

['Date', 'Sig_Strike_Pct', 'Other_Metric']

In [39]:
#Join the rolled df with the full data df
df6 = df5.join(df, lsuffix='_rmean')

In [40]:
df6

,Date_rmean,Sig_Strike_Pct_rmean,Other_Metric_rmean,Name,Sig_Strike_Pct,Other_Metric,Date
9,2020-01-15,NaN,NaN,Bill,0.7,0.1,2020-01-15
5,2020-01-28,NaN,NaN,Bill,0.6,0.6,2020-01-28
2,2020-01-29,0.65,0.35,Bill,0.5,0.5,2020-01-29
6,2020-01-20,NaN,NaN,John,0.3,0.3,2020-01-20
4,2020-01-25,NaN,NaN,John,0.6,0.6,2020-01-25
3,2020-01-30,0.45,0.45,John,0.1,0.1,2020-01-30
0,2020-01-31,0.35,0.35,John,0.3,0.3,2020-01-31
8,2020-01-13,NaN,NaN,Mike,0.4,0.4,2020-01-13
7,2020-01-20,NaN,NaN,Mike,0.5,0.5,2020-01-20
1,2020-01-30,0.45,0.45,Mike,0.2,0.2,2020-01-30

The above shows '_4' columns as the ones coming in before the rolling occurred and the '_5' are post-rolling mean. From here, could rename and drop the first few OR rename as regular vs 'mean_'