In [1]:
import pandas as pd
import numpy as np

In [15]:
lst = [['John',.3,.3,'1/31/20'],['Mike',.2,.2,'1/30/20'],['Bill',.5,.5,'1/29/20'],['John',.1,.1,'1/30/20'],
       ['John',.6,.6,'1/25/20'],['Bill',.6,.6,'1/28/20'],['John',.3,.3,'1/20/20'],['Mike',.5,.5,'1/20/20'],
      ['Mike',.4,.4,'1/13/20'],['Bill',.6,.1,'1/15/20']]

In [16]:
df = pd.DataFrame(lst, columns = ['Name','Sig_Strike_Pct','Other_Metric','Date'], dtype=float)

In [17]:
df['Date'] = pd.to_datetime(df['Date'])

In [18]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 4 columns):
Name              10 non-null object
Sig_Strike_Pct    10 non-null float64
Other_Metric      10 non-null float64
Date              10 non-null datetime64[ns]
dtypes: datetime64[ns](1), float64(2), object(1)
memory usage: 400.0+ bytes

In [19]:
df

   Name  Sig_Strike_Pct  Other_Metric       Date
0  John             0.3           0.3 2020-01-31
1  Mike             0.2           0.2 2020-01-30
2  Bill             0.5           0.5 2020-01-29
3  John             0.1           0.1 2020-01-30
4  John             0.6           0.6 2020-01-25
5  Bill             0.6           0.6 2020-01-28
6  John             0.3           0.3 2020-01-20
7  Mike             0.5           0.5 2020-01-20
8  Mike             0.4           0.4 2020-01-13
9  Bill             0.6           0.1 2020-01-15

In [20]:
df = df.sort_values(['Name', 'Date'])

In [21]:
df

   Name  Sig_Strike_Pct  Other_Metric       Date
9  Bill             0.6           0.1 2020-01-15
5  Bill             0.6           0.6 2020-01-28
2  Bill             0.5           0.5 2020-01-29
6  John             0.3           0.3 2020-01-20
4  John             0.6           0.6 2020-01-25
3  John             0.1           0.1 2020-01-30
0  John             0.3           0.3 2020-01-31
8  Mike             0.4           0.4 2020-01-13
7  Mike             0.5           0.5 2020-01-20
1  Mike             0.2           0.2 2020-01-30

In [22]:
#df2 = df.groupby(['Name']).apply(lambda x: x['Sig_Strike_Pct'].rolling(window=3, center=False).mean())
df2 = df.groupby(['Name']).apply(lambda x: x.rolling(window=3, center=False, on='Date', closed='right')['Sig_Strike_Pct','Other_Metric'].mean())

In [23]:
df2

   Sig_Strike_Pct  Other_Metric       Date
9             NaN           NaN 2020-01-15
5             NaN           NaN 2020-01-28
2        0.566667      0.400000 2020-01-29
6             NaN           NaN 2020-01-20
4             NaN           NaN 2020-01-25
3        0.333333      0.333333 2020-01-30
0        0.333333      0.333333 2020-01-31
8             NaN           NaN 2020-01-13
7             NaN           NaN 2020-01-20
1        0.366667      0.366667 2020-01-30